* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.list-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

.test {
  background-color: blue;
}

.img-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}
.list-item {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.card-container { 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.MuiTabs-root {
  display: flex;
  overflow:initial;
  min-height: 48px;
}

